.hero{
 height: 100dvh;
 padding: $padding-primary;
 background:url(/images/texture.cc1aec9d20c9fef3831e.jpg);
 background-repeat: repeat;
 &-top{
  width:100%;
  margin:0 auto;
  text-align: center;
 }
 &-main{
  display:flex;
  align-items: center;
  justify-content: space-between;
 }
}


  @media (max-width: map-get($grid-breakpoints, md)) {
    
   .hero{
    &-top{
     display: none;
    }
   }
  }