.nav{
 padding: $padding-primary;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}

  @media (max-width: map-get($grid-breakpoints, md)) {
    
   .nav{
    &-middle{
     display: none;
    }
   }
  }