//imports
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');

//colors


$primary: red;
$secondary: blue;

$background-light: #f5f5f5;
$background-dark: #0f0f0f;

$text-light: #f5f5f5;
$text-dark:#0f0f0f;

//paddings & margins

$padding-primary: 2rem;

//breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$max-width: 1700px;

//typography

$font-primary:"Shippori Mincho B1", serif;


//buttons
@mixin button-primary{
 border:1px solid black;
 padding: 1rem;
 background-color: $background-light;
 color: $text-dark;
 cursor: pointer;
 transition: background .5s ease-in-out ;
 font-family: $font-primary;
 &:hover{
  background-color: $background-dark;
  color: $text-light;
 }
}