.contact {
  position: relative;
}
.contact-img {
  display: none;
  position: absolute;
  max-width: 300px;
  opacity: 0.6;
  left: -25%;
  z-index: -1;
}

.contact-basic-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  backdrop-filter: blur(30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.contact-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--paper-bg-img);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
  z-index: -1;
}
.contact-textarea {
  width: 100%;
  display: flex;
  justify-content: center;
}
input,
textarea,
.contact-btn {
  width: 90%;
  border: none;
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 15px;
  background: var(--text-light);
}
.contact-input {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & label {
    font-family: var(--font-secondary);
    font-weight: 600;
    & span {
      font-weight: 400;
      font-size: 0.8rem;
    }
  }
}
.contact-btn {
  border: 1px solid rgba(0, 0, 0, 0.095);
  padding: 0.5rem;
  background: linear-gradient(#fefefe, #fefefe 51%, #0e0e0e 50%, #0e0e0e);
  color: var(--text-dark);
  cursor: pointer;
  background-size: 100% 200%;
  transition: background 0.5s;
  font-weight: 900;
  font-size: 1.2rem;
  text-transform: uppercase;
  z-index: 100;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  &:hover {
    color: var(--text-light);
    background-position: 100% -100%;
  }
}

@media (min-width: 768px) {
  .contact-basic-data {
    flex-direction: row;
  }
  form {
    padding: 3rem;
  }
  .contact-img {
    display: inline-block;
  }
}
