.footer{
 /* height: 200px; */
 margin-top: 200px;
 position: relative;
}
.footer-circle{
 position: absolute;
 top:-20%;
 right: 0;
 left: 0;
 margin: 0 auto;
 width: 200px;
 height: 200px;
 border-radius: 50%;
 background: var(--main-circle-gradient);
}
.footer__wrapper{
  background-color: var(--primary);
  width: 100%;
  min-height: 400px;
  height:max-content;
  color: var(--text-light);
  z-index:0;
  position: relative;
  backdrop-filter: blur(15px);
 & p{
  position: relative;
  z-index: 10;
 }
}

@media (min-width: 768px) {
  .footer-circle {
     width: 400px;
     height: 400px;
     top: -40%;
  }
}