.nav {
  position: fixed;
  right: 0;
  top: 0;
  padding: 2rem;
  z-index: 100;
}
.nav-menu {
  display: flex;
  align-items: end;
  justify-content: end;
  & button {
    border: 1px solid rgba(0, 0, 0, 0.095);
    padding: 1rem;
    background: linear-gradient(#fefefe, #fefefe 51%, #0e0e0e 50%, #0e0e0e);
    color: var(--text-dark);
    cursor: pointer;
    background-size: 100% 200%;
    transition: background 0.5s;
    font-family: 'Shippori Mincho B1', serif;
    z-index: 100;
    width: 60px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      color: var(--text-light);
      background-position: 100% -100%;
    }
    & span {
      font-size: 1.5rem;
      font-weight: bolder;
      text-align: center;
    }
  }
}

.nav-container {
  height: 70%;
  width: 100vw;
  padding: 2rem 0;
  background-color: rgba(250, 250, 250, 0.97);
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  transform-origin: top right;
  backdrop-filter: blur(10px);
}
.nav-container__wrapper {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.nav-container__links {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  flex: 1.5;
  & li {
    padding: 0.5rem;
    list-style: none;
    width: 100%;
    transition: all 0.2s linear;
    position: relative;
    &:before {
      content: '';
      width: 60%;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.2);
      opacity: 0.5;
      position: absolute;
      top: 0;
      display: none;
      animation: border_anim 0.3s linear forwards;
    }
    &:after {
      content: '';
      width: 60%;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.2);
      opacity: 0.5;
      position: absolute;
      bottom: 0;
      display: none;
      animation: border_anim 0.3s linear forwards;
    }
  }
}

.nav-container__links li:hover {
  &:before {
    display: block;
  }
  &:after {
    display: block;
  }
}
.nav-container__links li:hover a {
  transform: translateX(15px);
  & .icon {
    display: inline-block;
  }
}
.nav-container__links li a {
  display: inline-block;
  font-family: 'Shippori Mincho B1', serif;
  font-size: 1rem;
  color: var(--text-dark);
  font-weight: bolder;
  text-decoration: none;
  letter-spacing: 1.5px;
  transition: all 0.2s linear;
  height: 100%;
  width: 100%;
  position: relative;
  padding-left: 1rem;
  & .icon {
    display: none;
  }
}

.hide {
  display: none;
}

.nav-media {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.nav-media__link {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  & li {
    list-style: none;
    position: relative;
    &:before {
      content: '';
      width: 100%;
      height: 2px;
      background-color: rgba(0, 0, 0, 1);
      opacity: 0.5;
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      animation: border_anim 0.2s linear forwards;
    }
    &:after {
      content: '';
      width: 100%;
      height: 2px;
      background-color: rgba(0, 0, 0, 1);
      opacity: 0.5;
      position: absolute;
      bottom: 0;
      left: 0;
      display: none;
      animation: border_anim 0.2s linear forwards;
    }
  }
  & a {
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-dark);
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0.6rem;
    transition: all 0.2s ease-in-out;
  }
  & i {
    transform: rotate(-30deg);
    transition: all 0.2s ease-in-out;
    text-align: center;
    display: none;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
.nav-media__link li:hover {
  &:before {
    display: block;
  }
  &:after {
    display: block;
  }
  & a {
    transform: translateY(10px);
  }
  & i {
    display: block;
  }
}
.nav-year-ctn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
}
.nav-logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 50px auto;
  max-width: 100%;
  padding: 0.5rem 2rem;
  & p {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
  }
}
.nav-logo__img {
  max-width: 30px;
  filter: grayscale(100);
}
.nav-container {
  /* transform-origin: 50% 100%; */
  animation: slide-in 500ms forwards;
}
nav:has(.hide) .nav-container {
  animation: slide-out 500ms forwards;
}

@media (min-width: 768px) {
  .nav-container {
    width: 400px;
  }
  .nav-container__links li a {
    font-size: 1.5rem;
  }
}

@keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-out {
  100% {
    transform: scaleX(0);
  }
  0% {
    transform: scaleX(1);
  }
}
