.nav {
  position: fixed;
  right: 0;
  top: 0;
  padding: 2rem;
  z-index: 100;
}
.nav-menu {
  display: flex;
  align-items: end;
  justify-content: end;
  & button {
    border: 1px solid rgba(0, 0, 0, 0.095);
    padding: 1rem;
    background: linear-gradient(#fefefe, #fefefe 51%, #0e0e0e 50%, #0e0e0e);
    color: var(--text-dark);
    cursor: pointer;
    background-size: 100% 200%;
    transition: background 0.5s;
    font-family: "Shippori Mincho B1", serif;
    z-index: 100;
    width: 40px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  &:hover {
    color: var(--text-light);
    background-position: 100% -100%;
    }
  & span{
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
  }
  }
}

.nav-container {
  width: 100vw;
  background-color: rgba(250, 250, 250, 0.97);
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-origin: top right;
  backdrop-filter: blur(10px);
  & ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  & li {
  padding: 0.5rem;
  list-style: none;
  width: 100%;
  transition: all 0.2s linear;
  position: relative;
  &:before{
    content:'';
    width: 60%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: .5;
    position: absolute;
    top:0;
    display: none;
    animation: border_anim .3s linear forwards;
      }
  &:after{
    content:'';
    width: 60%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: .5;
    position: absolute;
    bottom:0;
    display: none;
    animation: border_anim .3s linear forwards;
      }
    }
  }
}


.nav-container ul li:hover {
  &:before{
    display: block;
  }
  &:after{
    display: block;
  }
}
.nav-container ul li:hover a {
  transform: translateX(15px);
  & .icon{
    display: inline-block;
  }
}
.nav-container ul li a {
  display: inline-block;
  font-family: "Shippori Mincho B1", serif;
  font-size: 1rem;
  color: var(--text-dark);
  font-weight: bolder;
  text-decoration: none;
  letter-spacing: 1.5px;
  transition: all 0.2s linear;
  height: 100%;
  width: 100%;
  position: relative;
  padding-left:1rem;
  & .icon{
    display: none;
  }
}


.hide {
  display: none;
}

@media (min-width: 768px) {
  .nav-container {
    width: 300px;
  }
}

@keyframes border_anim {
	0%{
		width: 0%;
	}
	100%{
		width: 60%;
	}
}