@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');

:root {
  /* grid breakpoints */
  --xs: 0;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;

  /* max&min widths */
  --max-width: 1700px;

  /* colors */
  --primary: rgba(49, 9, 45, 0.7);
  --secondary: blue;

  --background-light: #f5f5f5;
  --background-dark: #0f0f0f;

  --text-light: #f5f5f5;
  --text-dark: #0f0f0f;

  /* gradient */
  --main-circle-gradient: linear-gradient(
    to top,
    transparent,
    rgba(130, 30, 30, 0.43) 57.2%,
    rgb(248, 109, 135)
  );
  z-index: -2;

  /* typography */
  --font-primary: 'Shippori Mincho B1', serif;
  --font-secondary: 'Zen Kaku Gothic New', sans-serif;

  /* fonts sizes */

  /* bg img */
  --paper-bg-img: url(/images/washi.png);
}
