.why-us {
  max-width: var(--max-width);
}

.why-wrapper {
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  & img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    opacity: 0.4;
    scale: 0.6;
  }
}
.why-wrapper :nth-child(even of .why-card) {
  justify-self: flex-end;
}
.why-wrapper :nth-child(odd of .why-card) {
  justify-self: flex-start;
}
.why-card {
  position: relative;
  max-width: 400px;
  width: 80%;
  padding: 2rem;
  backdrop-filter: blur(30px);
  aspect-ratio: 2 / 1;
}
.why-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--paper-bg-img);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

.why-number {
  font-size: 4rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  & span {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .why-wrapper {
    padding: 5rem 0;
    grid-template-columns: repeat(2, 380px);
    gap: 4rem 1rem;
  }

  .why-wrapper > :nth-child(odd of .why-card) {
    margin-top: -10rem;
  }

  .why-wrapper :nth-child(even of .why-card) {
    justify-self: unset;
  }
  .why-wrapper :nth-child(odd of .why-card) {
    justify-self: unset;
  }
  .why-card {
    width: 100%;
  }
}
