* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  /* max-width: 1700px; */
  background: var(--background-light);
  color: var(--text-dark);
  font-family: var(--font-primary);
}


img, svg, picture{
  max-width: 100%;
  
}


section:not(.hero, .nav) {
  margin: 50px auto;
  max-width: var(--max-width);
}

.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.section-title{
  text-align: center;
  font-style: italic;
  position: relative;
  margin: 50px 0;
  & :before{
    content: '';
    position: absolute;
    top:-55%;
    left:0;
    right: 0;
    margin: 0 auto;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--main-circle-gradient);
  }
}