@import './components/variables.css';
@import './components/nav.css';
@import './components/header.css';
@import './components/hero.css';
@import './components/footer.css';

@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: var(--max-width);
  margin: 0 auto;
  background: #f5f5f5;
  color: #0f0f0f;
  font-family: var(--font-primary);
}


img, svg, picture{
  max-width: 100%;
  
}
